* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}

nav.navbar.navbar-light.bg-light {
    padding: 0px 0px 5px 0px;

}

p {
    padding-right: 10px;
}

nav.navbar.navbar-light {
    background-color: aliceblue;
}

.sidebar-sticky.left-body {
    float: left;
}